<ion-side-menus>

  <ion-side-menu-content edge-drag-threshold="true">
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" width="250">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Left</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close ui-sref="homepage.proveedores" ui-sref-active="active">
          Proveedores
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="homepage.mensajes">
          Conversaciones
        </ion-item>
        <ion-item nav-clear menu-close ng-click="goToProfile()">
          Mi perfil
        </ion-item>
        <ion-toggle ng-model="useGPS.status" toggle-class="toggle-calm">GPS</ion-toggle>
        <ion-item menu-close ng-click="logout()" nav-clear>Cerrar sesión</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
