<ion-view title="Proveedores">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <helpme-notifications messages="incommingMessages"></helpme-notifications>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content has-header="true">
        <div class="list">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Buscar..." ng-model="keyword"/>
                </label>
            </div>
        </div>

        <ion-list>
            <ion-item class="item item-avatar" ng-repeat="user in users|filter:keyword" ui-sref="homepage.chat({id: user.userid})">
                <img ng-src="{{user.juser.profile.avatar}}"/>

                <h2>{{ user.juser.name }}</h2>

                <p>Descripcion corta</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>


