//@import 'ionic.app';
@import "../www/lib/ionic/scss/ionic";

form i.icon.error {
  color: $assertive;
}

form input + i.icon.error {
  display: none;
  margin-left: 8px;
}

form.ng-submitted input.ng-invalid + i.icon.error {
  display: block;
}

form .has-error {
  border-left: 5px solid darken($assertive, 15%);
}

form .has-success {
  border-left: 5px solid darken($energized, 15%);
}

form.ng-submitted input.ng-valid + i.icon.error {
  display: none;
}

.center {
  text-align: center;
}

.item-border-bottom {
  @include item-style($item-default-bg, $item-default-border, $item-default-text);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $item-default-border;

}

.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}

.fullscreen-image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

.icon.chat.small {
  font-size: 20px;
}

.chat.icon-double-checkmark > i:last-child {
  right: 5px;
}


