<ion-view title="{{user.name}}">
  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <helpme-notifications messages="incommingMessages"></helpme-notifications>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item item-avatar" ng-repeat="conversation in conversations"
                ng-click="goToChat(conversation.user.id)">
        <img ng-src="{{conversation.user.profile.avatar}}"/>

        <h2>{{ conversation.user.name }}</h2>

        <span class="item-note">{{ conversation.createdAt|date:'medium'}}</span>

        <div ng-switch on="conversation.type">
          <p ng-switch-when="text">{{conversation.message}}</p>

          <p ng-switch-when="image"><i class="icon ion-camera"></i> Imagen</p>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
