<ion-view title="{{ }}">
  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <div helpme-share send-picture="receivePicture(imageData)"></div>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content start-y="100" delegate-handle="chat">
    <ion-list>
      <ion-item ng-repeat="message in messages" class="item-avatar item-icon-right">
        <img ng-src="{{message.from.profile.avatar}}"/>

        <p>{{ message.createdAt|date: 'medium'}}</p>

        <div ng-switch on="message.type">
          <h2 ng-switch-when="text">{{ message.message}}</h2>

          <h2 ng-switch-when="image">
            <img style="width: 100px; height: 100px;" ng-src="data:image/jpeg;base64,{{ message.message}}"
                 ng-click="openImage(message.message)">
          </h2>

          <h2 ng-switch-default>{{ message.message}}</h2>
        </div>

        <div ng-show="ISentIt(message.from)">
          <i ng-show="message.sent && !message.received" class="icon ion-checkmark chat small"></i>
          <i ng-show="!message.sent && !message.received" class="icon ion-clock chat small"></i>

          <div ng-show="message.sent && message.received" class="chat icon-double-checkmark">
            <i class="icon ion-checkmark chat small"></i>
            <i class="icon ion-checkmark chat small"></i>
          </div>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>

  <ion-footer-bar class="item-input-inset">
    <label class="item-input-wrapper">
      <form ng-submit="send(newMessage, 'text')">
        <input type="text" ng-model="newMessage" placeholder="Mensaje">
      </form>
    </label>
    <button class="button button-small">
      Enviar
    </button>
  </ion-footer-bar>
</ion-view>

