<ion-view title="{{ }}">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <ion-scroll>
            <ion-list>
                <ion-item ng-repeat="message in messages" class="item-avatar">
                    <img ng-src="{{message.from.profile.avatar}}" />

                    <p>{{ message.createdAt}}</p>

                    <h2>{{ message.message}}</h2>
                </ion-item>
            </ion-list>
        </ion-scroll>
    </ion-content>

    <div class="bar bar-footer item-input-inset">
        <label class="item-input-wrapper">
            <form ng-submit="send(message)">
                <input type="text" ng-model="message" placeholder="Mensaje">
            </form>
        </label>
        <button class="button button-small">
            Enviar
        </button>
    </div>
</ion-view>

